<footer id="kontakt">

    {% if page.url == '/' %}<div id="map"></div>{% endif %}

    <div class="footer" >
        <div class="row logo-white text-center">
            <a class="navbar-brand" href="{{ site.url }}#pocetna"><img src="{{ site.url }}/assets/images/eonplan-logo-white.png" width="152" height="40" alt="Eon Plan d.o.o."></a></div>

        <div class="container">
            <h1 class="main-heading text-center">KONTAKT</h1>
            <p class="text-center"><i class="fa fa-envelope"></i> eonplan@eonplan.hr</p>
            <p class="text-center"><i class="fa fa-envelope"></i> dubravka@eonplan.hr</p>
            <p class="text-center"><i class="fa fa-phone"></i> tel. +38514579339</p>
            <p class="text-center"><i class="fa fa-mobile-phone"></i> mob. +385913403440</p>
            <p class="text-center"><i class="fa fa-map-marker"></i> Krvarić 26A, 10000 Zagreb</p>
        </div>

    </div>

    <div class="bottom "><p class="text-center">Copyright © 2020. Eon Plan d.o.o.</p></div>

</footer>
