<section id="o-nama">
   <h1 class="main-heading">O NAMA</h1>
    <div class="container opis" data-aos="zoom-out" >
      <p>Osnovna djelatnost društva Eon Plan d.o.o. je pružanje računovodstvenih i savjetodavnih usluga.</p>
      <p>Bavimo se pružanjem usluga regionalnim entitetima multinacionalnih kompanija, domaćoj financijskoj industriji, te ostalim domaćim i inozemnim društvima, te neprofitnim organizacijama. Naši klijenti posluju u područjima različitih zakonodavstava, te vodimo računovodstvo po hrvatskim i međunarodnim standardima na hrvatskom i engleskom jeziku. Upravo zbog specifičnih potreba naših klijenata, kao i zbog prostorne odvojenosti od njihovih računovodstvenih i financijskih odjela, naše usluge obavljamo u našem prostoru, ili prostoru klijenata. Pri tome koristimo svoje računovodstvene programe, ili programe klijenata, vodeći računa da su klijentima uvijek dostupni ažurni podaci, izvješća i informacije.</p>
      <p>Visokom kvalitetom naše usluge i profesionalnošću nastojimo u svemu biti dio tima naših klijenata, a dugogodišnjim pružanjem usluga istim klijentima, to i dokazujemo.</p> 
      <p>Misija društva Eon Plan d.o.o. jest biti pouzdan outsourcing partner svojim klijentima na području računovodstvenih, financijskih i savjetodavnih usluga. Ulaganje u znanje djelatnika naš je prioritet.</p>
      <p>Dugogodišnjim iskustvom i znanjem nastojimo povećati standarde usluga koje pružamo svojim klijentima.</p>
    </div>
    
    <div id="podaci">
    
    <div class="container">
           <div>
            <p data-aos="zoom-out">Nadležni sud Trgovački sud u Zagrebu</p>        
            <p data-aos="zoom-out"><span>MBS</span> 081043813</p>
            <p data-aos="zoom-out"><span>OIB</span> 01741756936</p>
            <p data-aos="zoom-out"><span>Tvrtka</span><br />Eon Plan društvo s ograničenom odgovornošću za usluge</p>
            <p data-aos="zoom-out"><span>Skraćeni naziv</span><br />Eon Plan d.o.o.</p>
            <p data-aos="zoom-out"><span>Sjedište/adresa</span><br />Zagreb (Grad Zagreb) Krvarić 26 A</p>
            <p data-aos="zoom-out"><span>Temeljni kapital</span><br />20.000,00 kuna uplaćen u cjelosti</p>
            <p data-aos="zoom-out"><span>Pravni oblik</span><br />društvo s ograničenom odgovornošću</p>
            <p data-aos="zoom-out"><span>Uprava društva</span><br />Dubravka Mandaković (član uprave)</p>
            <p data-aos="zoom-out"><span>Bankovni broj računa (IBAN)</span><br />HR2623600001102557483 otvoren kod Zagrebačke banke d.d.</p>
        </div>
        </div>
    </div>

</section>