<section id="ponuda" class="hidden">
    <div class="container">
    <form class="form-horizontal" action="https://formspree.io/dubravka@eonplan.hr" method="POST">
    <fieldset>

    <!-- Form Name -->
    <h1 class="main-heading">ZATRAŽITE PONUDU</h1>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="naziv-tvrtke">Naziv tvrtke</label>  
      <div class="col-md-4">
      <input id="naziv-tvrtke" name="naziv-tvrtke" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="kontakt-osoba">Osoba za kontakt</label>  
      <div class="col-md-4">
      <input id="kontakt-osoba" name="kontakt-osoba" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="email">E-mail</label>  
      <div class="col-md-4">
      <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="telefon">Telefon</label>  
      <div class="col-md-4">
      <input id="telefon" name="telefon" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Multiple Radios -->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="poslovni-oblik">Poslovni oblik</label>
      <div class="col-md-4">
      <div class="radio">
        <label for="poslovni-oblik-0">
          <input type="radio" name="poslovni-oblik" id="poslovni-oblik-0" value="d.o.o." checked="checked">
          d.o.o.
        </label>
        </div>
      <div class="radio">
        <label for="poslovni-oblik-1">
          <input type="radio" name="poslovni-oblik" id="poslovni-oblik-1" value="j.d.o.o.">
          j.d.o.o.
        </label>
        </div>
      <div class="radio">
        <label for="poslovni-oblik-2">
          <input type="radio" name="poslovni-oblik" id="poslovni-oblik-2" value="Obrt / samostalna djelatnost">
          Obrt / samostalna djelatnost
        </label>
        </div>
      <div class="radio">
        <label for="poslovni-oblik-3">
          <input type="radio" name="poslovni-oblik" id="poslovni-oblik-3" value="Udruga">
          Udruga
        </label>
        </div>
      <div class="radio">
        <label for="poslovni-oblik-4">
          <input type="radio" name="poslovni-oblik" id="poslovni-oblik-4" value="Ostalo">
          Ostalo
        </label>
        </div>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="pretezita-djelatnost">Koja Vam je pretežita djelatnost?</label>  
      <div class="col-md-4">
      <input id="pretezita-djelatnost" name="pretezita-djelatnost" type="text" placeholder="Ugostiteljstvo, trgovina, usluge..." class="form-control input-md" required="">

      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="sustav-PDV">Da li ste u sustavu PDV-a?</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="sustav-PDV-0">
          <input type="radio" name="sustav-PDV" id="sustav-PDV-0" value="Da" checked="checked">
          Da
        </label> 
        <label class="radio-inline" for="sustav-PDV-1">
          <input type="radio" name="sustav-PDV" id="sustav-PDV-1" value="Ne">
          Ne
        </label>
      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="clanice-EU">Poslujete li s državama članicama EU?</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="clanice-EU-0">
          <input type="radio" name="clanice-EU" id="clanice-EU-0" value="Da" checked="checked">
          Da
        </label> 
        <label class="radio-inline" for="clanice-EU-1">
          <input type="radio" name="clanice-EU" id="clanice-EU-1" value="Ne">
          Ne
        </label>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="br-zaposlenih">Broj zaposlenih</label>  
      <div class="col-md-2">
      <input id="br-zaposlenih" name="br-zaposlenih" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="broj-ul-racuna">Okviran broj ulaznih računa mjesečno</label>  
      <div class="col-md-2">
      <input id="broj-ul-racuna" name="broj-ul-racuna" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="broj-izl-racuna">Okviran broj izlaznih računa mjesečno</label>  
      <div class="col-md-4">
      <input id="broj-izl-racuna" name="broj-izl-racuna" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="posebni-zahtjevi">Posebni zahtjevi od knjigovodstva?</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="posebni-zahtjevi" name="posebni-zahtjevi"></textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group row">
      <label class="col-md-4 control-label" for="Sent"></label>
      <div class="col-md-4">
         <button type="submit" class="btn btn-secondary">POŠALJI</button>
      </div>
    </div>

    </fieldset>
    </form>
    </div>
    <p class="prosiri"></p>
</section>